<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
  <appender name="archivo" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.home}/logs/hotel.log</file>
    <encoder>
      <pattern>%d{dd/MM/yyyy HH:mm:ss} %5p %C:%L - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home}/logs/hotel.log.%d</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="consola" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd/MM/yyyy HH:mm:ss} %5p %C:%L - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.hexaid" level="DEBUG"/>
  <logger name="org.springframework" level="INFO"/>
  <!-- STRUTS 2.2.x PARA QUE NO TIRE WARNINGS DE VARIABLES QUE NO ENCUENTRA, PONER EN ERROR o FATAL -->
  <logger name="com.opensymphony.xwork2.ognl" level="ERROR"/>
  <root level="WARN">
    <appender-ref ref="consola"/>
  </root>
</configuration>